.buttons-contact{
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 5px 0 5px 0;
}
.avatar-container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
ion-img{
  height: 150px;
}
ion-card-header{
  font-size: x-large;
  text-align: center;
}
