<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="scrollToPerfil()">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="scrollToDatosPersonales()">
        <ion-icon name="person-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="scrollToContacto()">
        <ion-icon name="call"></ion-icon>
      </ion-button>
      <ion-button (click)="scrollToReferencias()">
        <ion-icon name="people"></ion-icon>
      </ion-button>
      <ion-button (click)="scrollToHabilidades()">
        <ion-icon name="star"></ion-icon>
      </ion-button>
      <ion-button (click)="scrollToConocimientos()">
        <ion-icon name="desktop"></ion-icon>
      </ion-button>
      <ion-button (click)="scrollToFormacion()" >
        <ion-icon name="book"></ion-icon>
      </ion-button>
      <ion-button (click)="scrollToExperiencia()">
        <ion-icon name="briefcase"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="cv-container">
    <ion-row>
      <ion-col size-md="5" class="cv-left-column">
        <div class="wrapper">
          <div class="ion-activatable ripple-parent profile-image-container">
            <img src="assets/foto.jpg" alt="Foto de perfil" class="profile-image">
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </div>
        <!-- Perfil -->
        <section class="hero" id="Perfil">
          <h2 style="color: #7B8586;">
            <ion-icon name="information-circle" style="color: #7B8586;"></ion-icon> Perfil
          </h2>
          <p style="color: #000000;">Soy una persona que busca superarse a sí mismo con el fin de poder cumplir mis
            objetivos tanto en el ámbito profesional como personal.Para mí, es importante la
            educación continua, por ende me mantengo en constante investigación
            para la actualización de mis conocimientos.</p>
        </section>

        <!-- Datos personales -->
        <section class="hero" id="Datos personales">
          <h2 style="color: #7B8586;">
            <ion-icon name="person-circle" style="color: #7B8586;"></ion-icon> Datos Personales
          </h2>
          <p style="color: #000000;">Cedula: 1726527755 <br>
            Fecha de nacimiento: 24 de Marzo de 2002 <br>
            Estado civil: Soltero </p>
        </section>

        <!-- Contacto -->
        <section class="hero" id="Contacto">
          <h2 style="color: #7B8586;">
            <ion-icon name="call" style="color: #7B8586;"></ion-icon> Contacto
          </h2>
          <p>
            <ion-icon name="location" style="color: #7B8586;"></ion-icon>
            <span style="color: black;">Quito-Ecuador</span> <br>
            <ion-icon name="mail" style="color: #7B8586;"></ion-icon>
            <span style="color: black;">macm.1726527755&#64;gmail.com</span> <br>
            <ion-icon name="call" style="color: #7B8586;"></ion-icon>
            <span style="color: black;">0988741611</span> <br>
            <ion-icon name="logo-linkedin" style="color: #7B8586;"></ion-icon>
            <a href="www.linkedin.com/in/miguel-angel-carapaz-mendoza" style="color: black;">www.linkedin.com/in/miguel-angel-carapaz-mendoza</a>
          </p>
        </section>

        <!-- Referencias -->
        <section class="hero" id="Referencias">
          <h2 style="color: #7B8586;">
            <ion-icon name="people" style="color: #7B8586;"></ion-icon> Referencias
          </h2>
          <p style="color: #000000;"> • Fernando Chicaiza Oficial - Sargento
            Primero: 0983492306 <br>
            • Mauricio Guerrero Distribuidora de chips -
            Movistar Gerente: 0969055303 <br>
            • René Moreira - Dueño de Gimnasio:
            0981394499</p>
        </section>
      </ion-col>

      <ion-col size-md="7" class="cv-right-column">
        <!-- Header -->
        <h1 align="center" style="color: #000000;"> <b>Carapaz Mendoza</b><br><b>Miguel Angel</b></h1>
        <h1 align="center" style="color: #000000;"><b>Tecnologia Superior en Desarrollo de Software</b></h1>

        <!-- Habilidades -->
        <section class="hero" id="Habilidades">
          <h2 style="color: #7B8586;">
            <ion-icon name="star" style="color: #7B8586;"></ion-icon> Habilidades
          </h2>
          <p style="color: #000000;">
            • Trabajo en equipo
            <ion-item lines="none" class="checkbox-item">
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item><br>
            
            • Proactivo
            <ion-item lines="none" class="checkbox-item">
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item><br>
            
            • Liderazgo
            <ion-item lines="none" class="checkbox-item">
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item><br>
            
            • Responsabilidad
            <ion-item lines="none" class="checkbox-item">
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item><br>
            
            • Puntualidad
            <ion-item lines="none" class="checkbox-item">
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item><br>
            
            • Interrelación con otros
            <ion-item lines="none" class="checkbox-item">
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
          </p>
          
        </section>

        <!-- Conocimientos -->
        <section class="hero" id="Conocimientos">
          <h2 style="color: #7B8586;">
            <ion-icon name="desktop" style="color: #7B8586;"></ion-icon> Conocimientos
          </h2>
          <p style="color: #000000;">• Mantenimiento preventivo y correctivo <br>
            de computadores <br>
            • Microsoft Office <br>
            • Edición de vídeo y audio <br>
            • Inglés - Nivel Intermedio 1</p>
        </section>

        <!-- Formación académica -->
        <section class="hero" id="Formacion">
          <h2 style="color: #7B8586;">
            <ion-icon name="book" style="color: #7B8586;"></ion-icon> Formación Académica
          </h2>
          <p style="color: #000000;">• Universidad Escuela Politécnica Nacional <br>
            Desarrollo de software - 16 de noviembre <br>
            de 2020 a la presente fecha <br>
            • Unidad Educativa José Ramón <br>
            Zambrano Bravo <br>
            Informática - 26 de febrero de 2020</p>
        </section>

        <!-- Experiencia laboral -->
        <section class="hero" id="Experiencia">
          <h2 style="color: #7B8586;">
            <ion-icon name="briefcase" style="color: #7B8586;"></ion-icon> Experiencia Laboral
          </h2>
          <p style="color: #000000;"> • Instalación de sistemas de cámaras - Pasantías <br>
            • Manejo de emprendimiento en puestos de <br>
            comidas - Pasantías <br>
            • Adecuación e implementación de laboratorio <br>
            informático <br>
            • Profesor de algoritmos y estructura de datos - <br>
            Prácticas sociales</p>
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
