ion-header {
    ion-toolbar {
      --background: rgb(174, 174, 174);
      --color: #362c2c;
    }
  }
  ion-buttons {
    &.ion-text-center {
      text-align: center;
      --background: rgb(174, 174, 174);
      --color: #362c2c;
    }
  }
  

  ion-title {
    font-weight: bold;
  }
  
  .cv-container {
    ion-row {
      ion-col {
        background-color: #ffffff;
        padding: 10px;
        margin: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
        &:first-child {
          background-color: #fbfbfb; 
  
          section.hero {
            h2 {
              color: #000000;
              position: relative;
              
              &::after {
                content: '';
                display: block;
                width: 16%; /* Ajusta el ancho de la línea */
                height: 7px; /* Ajusta la altura de la línea */
                background-color: #7b8586;
                position: absolute;
                bottom: 0;
                left: 0;
                margin-top: 6px; 

              }
            }
          }
        }
  
        &:last-child {
          background-color: #a4a39d; /* Color crema para la segunda tarjeta */
        }
      }
    }
  }

  .icono {
    font-size: 24px;
    margin-right: 5px;
  }
  
  .cv-right-column {
    h1{
        text-align: center;
    }
    h2 {
      text-align: left;
    }
  }
  
  .cv-container ion-row {
    display: flex;
  }

  .profile-image-container {
    transition: transform 0.3s ease-in-out; 
  
    &:hover {
      transform: scale(1.1);
    }

  }
  

  .profile-image {
    border-radius: 50%;
    margin-left: 130px;
    width: 40%; 
    height: auto;
  }

 .checkbox-item {
  vertical-align: middle;

}
