<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear nuevo contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="contactName" name="contactName" max="20" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="contactLastName" name="contactLastName" maxlength="20"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número de Celular</ion-label>
      <ion-input type="tel" [(ngModel)]="contactPhoneNumber" name="contactPhoneNumber" maxlength="10"></ion-input>
    </ion-item>

    <ion-item class="image-item">
      <ion-label>Foto de perfil</ion-label>
      <ion-button (click)="takePhoto()">Tomar foto</ion-button>
      <ion-button (click)="selectFromGallery()">Seleccionar de la galería</ion-button>
      <img *ngIf="selectedFile" [src]="selectedFile.webPath" [alt]="selectedFile.dataUrl" width="100">
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="createNewContact()">Crear Contacto</ion-button>

</ion-content>
