<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/contact"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="contacto.name" name="name" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="contacto.lastName" name="lastName" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Número de celular</ion-label>
    <ion-input [(ngModel)]="contacto.phoneNumber" name="phoneNumber" required></ion-input>
  </ion-item>
  <ion-item *ngIf="!selectedFile"class="image-item">
    <ion-label>Foto anterior</ion-label>
    <img *ngIf="contacto.downloadUrl" [src]="contacto.downloadUrl" [alt]="contacto.name" >
  </ion-item>
  <ion-item class="image-item">
    <ion-label>Foto de perfil</ion-label>
    <ion-button (click)="takePhoto()">Tomar foto</ion-button>
    <ion-button (click)="selectFromGallery()">Seleccionar de la galería</ion-button>

    <img *ngIf="selectedFile" [src]="selectedFile.webPath" [alt]="selectedFile.dataUrl" width="100">
  </ion-item>

  <ion-button expand="full" (click)="guardarCambios()">Guardar cambios</ion-button>
</ion-content>
