.center-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
form {
  width: 100%;
}
.button-register {
  margin-top: 25px;
}
